.article {
  background-color: $white;
  max-width: 720px;
  margin: 50px auto;
  padding: $div-padding;

  @include maxWidth(750px) {
    margin: 30px 10px;
    padding: 50px 20px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
  }

  p,
  li {
    font-size: 20px;
  }

  ul {
    margin: 10px 10px;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }

  .supporting-content {
    margin: 20px auto 10px;
    max-width: 400px;
    text-align: left;

    ul {
      margin: 0;
    }
  }

  .print-btn {
    margin-top: 10px;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  i {
    font-size: 16px;
    margin-right: 10px;
  }
}

.go-back {
  max-width: 720px;
  margin: -30px auto 0;

  @include maxWidth(750px) {
    margin: -20px 10px;
  }

  .go-back_link {
    font-size: 20px;

    i {
      font-size: 20px;
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media print {
  header,
  footer,
  .print-btn,
  .breadcrumbs,
  .go-back {
    display: none;
  }

  .article {
    border: none;

    h2 {
      text-align: left;
    }
  }

  // .contact {
  //   text-align: left;

  //   .supporting-content {
  //     margin: 20px 0 !important;

  //     h3 {
  //       margin-left: 0 !important;
  //     }
  //   }
  // }
}
