.box-menu {
  @include flex(row, wrap);
  justify-content: center;
  margin: 50px auto 0;
  max-width: 1200px;

  .section-heading {
    display: none;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  .box-menu_box {
    @include flex();
    align-items: center;
    background-color: $white;
    box-sizing: border-box;
    box-shadow: gray 1px 1px 2px;
    height: 200px;
    justify-content: center;
    margin: 15px;
    padding: 0 10px;
    width: 300px;

    @include maxWidth(600px) {
      margin: 0 0 15px;
    }

    &:hover {
      box-shadow: gray 0px 0px 5px;

      span {
        text-decoration: underline;
      }
    }

    i {
      font-size: 50px;
      margin-bottom: 5px;
    }

    span {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }
  
  .about-link {
    font-size: 24px !important;
  }
}
