.breadcrumbs {
  font-size: 12px;
  margin: auto;
  max-width: 1600px;
  padding-left: 10px;
  font-size: 14px;

  a {
    color: $black;
    font-size: 14px;
  }

  @include maxWidth(600px) {
    font-size: 12px;

    a {
      font-size: 12px;
    }
  }
}
