.breadcrumbs {
  font-size: 18px;
  font-weight: 600;
  margin: 84px auto 0;
  max-width: 1600px;
  padding: 0 10px;

  a {
    color: $black;
    font-size: 18px;
    font-weight: 400;
  }

  @include maxWidth(1400px) {
    margin: 112px auto 0;
  }

  @include maxWidth(960px) {
    margin: 68px auto 0;
  }

  @include maxWidth(600px) {
    font-size: 14px;
    margin: 58px auto 0;

    a {
      font-size: 14px;
    }
  }
}
