.confirmed {
    .article-heading {
        font-size: 36px;
        margin-bottom: 30px;


        i {
            color: $col-booked;
            font-size: 100px;
            vertical-align: middle;
        }
    }
}