footer {
  background-color: $lightgray;
  bottom: 0;
  left: 0;
  padding: 50px;
  width: 100%;

  .divider {
    border: 1px solid #c4c4c4;
    margin-bottom: 10px;
    width: 200px;
  }

  @include maxWidth(960px) {
    padding-top: 30px;
  }

  .footer-groups {
    @include flex(row, wrap);
    margin: 0 auto;
    max-width: 1200px;

    @include maxWidth(960px) {
      @include flex();
    }

    strong {
      display: inline-block;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 5px;

      @include maxWidth(960px) {
        margin-top: 20px;
      }

      @include maxWidth(600px) {
        font-size: 20px;
      }
    }

    i {
      font-size: 18px;
    }

    li,
    a {
      color: $black;
      font-size: 20px;
      margin-bottom: 10px;
      text-decoration: none;

      @include maxWidth(600px) {
        font-size: 18px;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .footer-group {
      width: 33%;
      @include flex();
      align-content: center;

      @include maxWidth(960px) {
        width: 100%;
      }

      .margin-top {
        margin-top: 10px;
      }
    }

    small {
      font-size: 13px;
      margin-top: 20px;
      text-align: center;
      width: 100%;
    }
  }
}
