.news {
  margin-top: 50px;

  @include maxWidth(600px) {
    margin-top: 30px;
    padding: 0 10px;
  }

  article {
    background-color: $white;
    margin: 0 auto 20px;
    max-width: 720px;
    padding: $div-padding;

    @include maxWidth(600px) {
      padding: 30px 20px;
    }

    .alert-icon {
      color: $col-alert;
      font-size: 45px;
      margin-right: 20px;
      vertical-align: middle;

      @include maxWidth(600px) {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .expand-btn {
      align-items: center;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
      font-family: 'Poppins', sans-serif;
      line-height: 45px;
      text-align: left;
      width: 100%;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      @include maxWidth(600px) {
        font-size: 22px;
        line-height: 25px;
      }

      .expand-icon {
        font-size: 45px;
        margin-right: 20px;
        float: right;
        justify-self: flex-end;

        @include maxWidth(600px) {
          font-size: 30px;
          margin-left: 10px;
        }
      }
    }

    .article-content {
      display: none;

      div {
        margin-top: 20px;
      }

      h3 {
        display: none;
      }
    }
  }
}
