.print {
  @include flex(column);
  align-items: flex-end;
  margin-top: 20px;
  max-width: 550px;
  width: 100%;

  .updated {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
  }

  .print-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: 10px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  i {
    font-size: 18px;
    margin-right: 5px;
  }
}
