.filter-content {
  justify-content: center;
  margin: 50px auto -50px;
  max-width: 300px;
  text-align: center;
  @include flex(row);

  label {
    position: absolute;
    bottom: 10000px;
  }

  input {
    border: none;
    box-shadow: 0px 1px 3px lightgray;
    font-size: 20px;
    padding: 12px;
    width: 100%;
  }

  ::placeholder {
    color: hsl(0, 0%, 85%);
  }

  .filter-icon {
    background-color: $black;
    width: 100px;

    i {
      color: $white;
      font-size: 25px;
      padding: 12px;
    }
  }
}

.service {
  .filter-content {
    margin: auto;
  }
}