.title-banner {
  color: $white;
  margin: auto;
  max-width: 1200px;
  padding: 30px;
  text-align: center;

  @include maxWidth(600px) {
    padding: 50px 20px;
  }

  h1 {
    font-size: 52px;
    font-weight: 400;

    @include maxWidth(600px) {
      font-size: 38px;
    }
  }

  p {
    font-size: 20px;
  }
}

.page-descr {
  font-size: 20px;
  text-align: center;
  margin: 30px auto -25px;
}

.filter-content {
  justify-content: center;
  margin: 50px auto -30px;
  max-width: 300px;
  text-align: center;
  @include flex(row);

  input {
    border: none;
    box-shadow: 0px 1px 3px lightgray;
    font-size: 20px;
    padding: 12px;
    width: 100%;
  }

  ::placeholder {
    color: hsl(0, 0%, 85%);
  }

  .filter-icon {
    background-color: $black;
    width: 100px;

    i {
      color: $white;
      font-size: 25px;
      padding: 12px;
    }
  }
}
