.title-banner {
  color: $white;
  margin: auto;
  max-width: 1600px;
  padding: 30px;
  text-align: center;

  @include maxWidth(600px) {
    padding: 50px 20px;
  }

  h1 {
    font-size: 52px;
    font-weight: 400;

    @include maxWidth(600px) {
      font-size: 38px;
    }
  }

  p {
    font-size: 20px;
  }
}

.page-descr {
  font-size: 20px;
  text-align: center;
  margin: 30px auto -25px;
}
