header {
  background-color: $white;
  position: fixed;
  top: 0px;
  transition: 0.5s ease-in;
  width: 100vw !important;

  .header-content {
    padding: 10px 20px;
    max-width: 1600px;
    margin: auto;

    @include flex(row);

    @include maxWidth(1400px) {
      @include flex(column);
      align-items: center;
    }

    a {
      text-decoration: none;
    }
  }
}
