/* Font fams */
$font-main: 'Poppins', sans-serif;

/* Font colors */
$color-dark: $black;
$color-light: $offwhite;

/* Font sizing */
$font-M: 1.6rem;

/* Font colors */
$color-dark: $black;
$color-light: $white;

.underline {
  text-decoration: underline !important;
}

.section-heading {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.article-heading {
  font-size: 24px;
  font-weight: 500;
}

.article-text {
  font-size: 20px;
  font-weight: 400;
}