/* Color scheme */
$white: #f7f7f7;
$black: #272727;
$offwhite: #EAEAEA;
$lightgray: #E5E3E3;

/* Category Colors */
$col-main: #395B83;
$col-about: #4A907A;
$col-service: #CE6B6B;
$col-alert: #D02020;
$col-call: #7E7A71;
$col-profile: #D06092;
$col-reoccurring: #5D949B;
$col-booked: #709F70;
$col-logout: #464040;

$col-confirm: #598159;
$col-delete: #A83F3F;
